@import '../base';

.add-container {
  width: 100%;
  max-width: calc(#{($add-menu-height / 2) + ($add-menu-border * 4)});

  &.empty {
    width: 0%;
  }
}

.add-menu {
  background-color: none;
  // opacity: 0.5;
  height: $add-menu-height;
  // max-width: 80vh;
  width: 60%;
  // min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin: 5vh;
  // transform: translate(-5vh, -10vh);
  // background-color: pink;
  // position: absolute;
  // animation-name: expand;
  // animation-duration: 0.2s;

  .menu-shape {
    position: absolute;
    // bottom: 0px;
    // min-width: 100px;
    // min-height: 100px;
    // transform: translate(-$nav-menu-translate, $nav-menu-translate);
    background-color: black;
    width: calc($add-menu-height * 2);
    height: calc($add-menu-height * 2);
    border-radius: 50%;
    z-index: -1;
    border: solid $nav-menu-border var(--primary-color);
  }

  label {
    display: none;
  }

  .start-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {

      // margin: 5px;

      &#start_date{
        flex: 0 1 55%;
      }

      &#start_hour{
        flex: 0 1 40%;
      }

    }
  }

  .end-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {

      // margin: 5px;

      &#end_date{
        flex: 0 1 55%;
      }

      &#end_hour{
        flex: 0 1 40%;
      }

    }
  }

  ul {
    max-height: 30vh;
    overflow: scroll;
  }

  .location {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2vh;
  }

  .autocomplete-dropdown-container {
    position: absolute;
    z-index: 2;
  }


  input {
    width: 100%;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: solid var(--primary-color);
    text-align: center;
    margin: 1vh;

    &::-webkit-calendar-picker-indicator {
      filter: invert(100%);
    }

    &:focus {
      outline: none;
      filter: brightness(2);
      box-shadow: var(--primary-color);
    }
    
    &#entry {
      font-size: 4vh;
      width: auto;
    }

    &#location_search {
      font-size: 2vh;
    }

    &#start_date {
      font-size: 2vh;
    }

    &#end_date {
      font-size: 2vh;
    }

    &#start_hour {
      font-size: 2vh;
    }

    &#end_hour {
      font-size: 2vh;
    }
  }



//   a {
//     color: white;
//     text-decoration: none;
//     font-size: 3vh;
//     padding: 10px;
//     padding-left: 2vh;

//     &.link--active {
//       font-weight: 700;
//       font-size: 6vh;
//     }
//   }
  
  li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: center;
    
    p {
      margin: 0.5vh;
      // padding: 0.5vh;
    }

    input {
      width: auto;
      margin: 0.5vh;
      // padding: 0.5vh;
    }

    select {
      border: none;
      border-bottom: solid var(--primary-color);
      width: auto;
      color: white;
      background-color: transparent;
      margin: 0.5vh;
      // padding: 0.5vh;
    }
  }

//   span {
//     font-size: 2vh;
//     color: grey;
//   }

  .button {

    &.button--delete--repeat {
      color: var(--primary-color);
      background: none;
      padding: 0px;
      margin: 0.5vh;
      // padding: 0.5vh;
    }
    
    &.button--repeat {
      color: var(--primary-color);
      font-size: 5vh;
      background: none;
      width: 70px;
    }

    &.button--save {
      color: black;
      font-size: 3vh;
      background: var(--primary-color);
      width: 100%;
    }
    
  }
}

form.add-menu {
  animation-name: expandAdd;
  animation-duration: 0.15s;
  max-width: 50vh;
  margin: auto;
  // transform: translate(5vh, 0vh);
}

@keyframes expandAdd {
  from {
    height:0px;
    opacity: 0;
  }

  to {
    height: $add-menu-height;
    opacity: 1;
  }
}