@import '../base';

.nav {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  bottom: 5vh;
  // background: $rainy-color;
  background-color: none;
  color: white;
  transform: translate(0px, 15vh);
  z-index: 2;

  .button {
    position: relative;
    // padding: 0;
    // padding-left: 5px;
    background: none;
    border: none;
    cursor: pointer;
    
    &:focus {
      border: none;
      box-shadow: none;
      outline: none;
    }

    &.nav-menu {

      &.button--collapse {
        transform: translate(0px, -10vh);
        height: 8vh;
        padding: 2vh;
      }
  
      &.button--expand {
        height: $nav-menu-border;
        transform: translate(0px, -9.5vh) rotate(9deg);
        
        svg {
          padding-left: 1.5vh;
        }
      }
  
      svg {
        font-size: 4vh;
      }

    }

    &.add-menu {
      // color:pink;
      display: flex;
      align-items: flex-end;

      &.button--collapse {
        transform: translate(0px, -10vh);
        height: 8vh;
        padding: 2vh;
        // justify-content: flex-end;
      }
  
      &.button--expand {
        height: $add-menu-border;
        transform: translate(0px, -13vh);
        // display: flex;
        // flex-direction: row;
        // justify-content: flex-end;
        // align-items: flex-end;
        // width: 30vh;

        svg {
          transform: rotate(45deg);
          padding-right: 1.5vh;
        }
      }
  
      svg {
        font-size: 4vh;
      }

    }

  }

  .add-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .menu-shape {
    position: absolute;
    bottom: 0px;
    background-color: black;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.1s;

    &.menu-shape--collapse {
      width: 20vh;
      height: 20vh;
      background-color: var(--primary-color);
      cursor: pointer;
      box-shadow: 0 0 7px 1px var(--primary-color);
      
      &.nav-menu {
        transform: translate(-10vh, 0vh);
        // animation-duration: 0.2s;
        // animation-name: slideFromLeft;
      }

      &.add-menu {
        // display: flex;
        // align-items: flex-end;
        // position: fixed;
        transform: translate(10vh, 0vh);
      }
    }

    
    &.menu-shape--expand {
      // transform: translate(-60vh, 45vh);
      
      &.nav-menu {
        border: solid $nav-menu-border var(--primary-color);
        width: calc(#{$nav-menu-height} * 2);
        height: calc(#{$nav-menu-height} * 2);
        transform: translate(calc(-#{$nav-menu-height} - 10vh), calc(#{$nav-menu-height} - 5vh));
      }

      &.add-menu {
        border: solid $add-menu-border var(--primary-color);
        width: calc(#{$add-menu-height} * 2);
        height: calc(#{$add-menu-height} * 2);
        // transform: translate(-30vh, 45vh);
        transform: translate(calc(#{$nav-menu-height} + 50vh), calc(#{$nav-menu-height} + 30vh));
      }
    }

  }
  
  .blur-trigger {
    opacity: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    transform: translate(0px, -55vh);
  }
}

// @keyframes slideFromLeft {
//   from {
//     bottom: -100vh;
//     left: -100vh;
//   }

//   to {
//     bottom: 0px;
//     left: 0px;
//   }
// }