@import '../base';

.nav {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  bottom: 5vh;
  // background: red;
  background-color: none;
  color: white;
  transform: translate(0px, 15vh);
  z-index: 2;

  .loader {
    display: none;
    // opacity: 0;

    &--wait {
      display: block;
      // opacity: 1;
      // animation: fadeIn 0.2s;
    }
    
    &__animation {
      position: fixed;
      left: 51vw;
      top: -50vh;
      margin: -75px 0 0 -75px;
      border: 16px solid #f3f3f3;
      border-radius: 50%;
      border-top: 16px solid #3498db;
      width: 120px;
      height: 120px;
      animation: 2s infinite linear rainbow;
      z-index: 2;
    }

    &__background {
      position: fixed;
      opacity: 0.8;
      width: 200vw;
      height: 200vh;
      left: 0px;
      top: -150vh;
      background-color: black;
      z-index: 1;
    }
  }

  .button {
    position: relative;
    // padding: 0;
    // padding-left: 5px;
    background: none;
    border: none;
    cursor: pointer;
    
    &:focus {
      border: none;
      box-shadow: none;
      outline: none;
    }

    &.nav-menu {

      &.button {
        border-radius: 30%;
      }

      &.button--collapse {
        transform: translate(0px, -10vh);
        height: 8vh;
        padding: 2vh;
       
        &.logged-out {
          color: var(--primary-color);
          margin: 1vh;
        }
      }

  
      &.button--expand {
        height: $nav-menu-border;
        transform: translate(0px, -9.5vh) rotate(9deg);
        
        svg {
          padding-left: 1.5vh;
        }
      }
  
      svg {
        font-size: 4vh;
      }

    }

    &.add-menu {
      // background-color:pink;
      width: auto;
      // display: flex;
      // align-items: flex-end;

      &.button--collapse {
        // transform: translate(21vh, -10vh);
        transform: translate(0vh, -10vh);
        height: 8vh;
        padding: 2vh;
        // justify-content: flex-end;
      }
  
      &.button--expand {
        height: $add-menu-border;
        transform: translate(0vh, -14.3vh);
        // color: green;
        // display: flex;
        // flex-direction: row;
        // justify-content: flex-end;
        // align-items: flex-end;
        // width: 30vh;

        svg {
          transform: rotate(45deg);
          padding-right: 1.5vh;
        }
      }
  
      svg {
        font-size: 4vh;
      }

    }

  }

  .add-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .menu-shape {
    position: absolute;
    bottom: 0px;
    background-color: black;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.1s;

    &.menu-shape--collapse {
      width: 20vh;
      height: 20vh;
      background-color: var(--primary-color);
      cursor: pointer;
      box-shadow: 0 0 7px 1px var(--primary-color);
      
      &.logged-out {
        background-color: transparent;
        box-shadow: none;
      }

      &.nav-menu {
        transform: translate(-10vh, 0vh);
        // animation-duration: 0.2s;
        // animation-name: slideFromLeft;
      }

      &.add-menu {
        // display: flex;
        // align-items: flex-end;
        // position: fixed;
        transform: translate(10vh, 0vh);
      }
    }

    
    &.menu-shape--expand {
      // transform: translate(-60vh, 45vh);
      
      &.nav-menu {
        border: solid $nav-menu-border var(--primary-color);
        width: calc(#{$nav-menu-height} * 2);
        height: calc(#{$nav-menu-height} * 2);
        transform: translate(calc(-#{$nav-menu-height} - 10vh), calc(#{$nav-menu-height} - 5vh));
      }

      &.add-menu {
        border: solid $add-menu-border var(--primary-color);
        width: calc(#{$add-menu-height} * 2);
        height: calc(#{$add-menu-height} * 2);
        // transform: translate(-30vh, 45vh);
        transform: translate(calc(#{$nav-menu-height} + 50vh), calc(#{$nav-menu-height} + 30vh));
      }
    }

  }
  
  .blur-trigger {
    opacity: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    transform: translate(0px, -55vh);
  }
}

@keyframes fadeIn {
  from {
    // bottom: -100vh;
    // left: -100vh;
    opacity: 0;
  }

  to {
    // bottom: 0px;
    // left: 0px;
    opacity: 1;
  }
}