@import '../base';

.nav-container {
  width: 100%;
}

.nav-menu {
  background-color: none;
  // opacity: 0.5;
  height: $nav-menu-height;
  // min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  transform: translate(0vh, -10vh);
  // background-color: pink;
  // position: absolute;
  // animation-duration: 2s;
  // animation-name: expand;

  .menu-shape {
    position: absolute;
    // bottom: 0px;
    // min-width: 100px;
    // min-height: 100px;
    // transform: translate(-$nav-menu-translate, $nav-menu-translate);
    background-color: black;
    // width: calc(#{$nav-menu-height} * 2);
    // height: calc(#{$nav-menu-height} * 2);
    border-radius: 50%;
    z-index: -1;
    border: solid $nav-menu-border var(--primary-color);
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 3vh;
    padding: 10px;
    padding-left: 2vh;

    &.link--active {
      font-weight: 700;
      font-size: 6vh;
    }
  }
  
  li {
    margin: 1vh;
  }

  span {
    font-size: 2vh;
    color: grey;
  }

  button {
    color: white;
    background: none;
  }
}

ul.nav-menu {
  animation-name: expandNav;
  animation-duration: 0.2s;
  border-radius: 50%;
  // background-color: red;
}

@keyframes expandNav {
  from {
    height:0px;
    // margin-top:100vh;
    opacity: 0;
  }

  to {
    height: $nav-menu-height;
    // margin-top:0vh;
    opacity: 1;
  }
}