@import '../base';

.nav-menu {
  background-color: none;
  // opacity: 0.5;
  height: $nav-menu-height;
  // min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  transform: translate(0vh, -10vh);
  // background-color: pink;
  // position: absolute;
  animation-name: expand;
  animation-duration: 0.2s;

  .menu-shape {
    position: absolute;
    bottom: 0px;
    background-color: black;
    width: calc($nav-menu-height * 2);
    // min-width: 100px;
    height: calc($nav-menu-height * 2);
    // min-height: 100px;
    border-radius: 50%;
    transform: translate(-$nav-menu-translate, $nav-menu-translate);
    z-index: -1;
    border: solid $nav-menu-border var(--primary-color);
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 3vh;
    padding: 10px;
    padding-left: 2vh;

    &.link--active {
      font-weight: 700;
      font-size: 6vh;
    }
  }
  
  li {
    margin: 1vh;
  }

  span {
    font-size: 2vh;
    color: grey;
  }

  button {
    color: white;
    background: none;
  }
}

@keyframes expand {
  from {
    height:0px;
    opacity: 0;
  }

  to {
    height: $nav-menu-height;
    opacity: 1;
  }
}