@import '../base';
// @import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

// $font-stack: 'Mulish', sans-serif;

body {
  font-family: $font-stack;
  background-color: salmon;
  color: white;
}