.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-ring {
  border: 5px solid #FFD749;
  border-radius: 50%;
  text-align: center;
  width: 12rem;
  height: 12rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;

}

.departure-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}