@import '../base';
@import '../Button';

.schedule {
  .departure-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .event-list {
    &__title {
    text-align: center;
    }

  }
  
  .event-list-item {
    background-color: #222222;
    margin: 1rem 0;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 0.75rem #222222;

    &--untoggled:hover {
      background: #3b3b3b;
    }
    
    // EVENT BACKGROUND COLORS
    &--Thunderstorm { 
      background: $thunderstorm-color;
      color: black;
      box-shadow: 0 0 0.75rem $thunderstorm-color;

      &--untoggled:hover {
        background-color: rgb(125, 97, 187);
      }
    }
    &--Rainy {
      background: $rainy-drizzle-color;
      color: black;
      box-shadow: 0 0 0.75rem $rainy-drizzle-color;

      &--untoggled:hover {
        background: #178cbe;
      }
    }
    &--Drizzle {
      background: $rainy-drizzle-color;
      color: black;
      box-shadow: 0 0 0.75rem $rainy-drizzle-color;

      &--untoggled:hover {
        background: #178cbe;
      }
    }
    &--Snowy {
      background: $snowy-color;
      color: black;
      box-shadow: 0 0 0.75rem $snowy-color;

      &--untoggled:hover {
        background: #c5c7c7;
      }
    }
    &--Sunny {
      background: $sunny-color;
      color: black;
      box-shadow: 0 0 0.75rem $sunny-color;

      &--untoggled:hover {
        background: rgb(228, 189, 48);
      }
    }
    &--Cloudy {
      background: $cloudy-color;
      color: black;
      box-shadow: 0 0 0.75rem $cloudy-color;

      &--untoggled:hover {
        background: rgb(150, 150, 150);
      }
    }

    &__main {
      display: flex;
      flex-direction: row;
      padding: 0 1rem 0 0.3rem;
    }

    &__time {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 0.5rem;
    }

    &__weather-icon {
      padding: 0.4rem;
      margin: 0.4rem 0.6rem 0.4rem 0.4rem;
      background: black;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
    }

    &__details {
      padding: 0 1rem;

      &__time {
        display: flex;
        flex-direction: row;
      }
    }

    &__address {
      display: flex;
      flex-direction: row;
      align-items: center;

      &-icon {
        font-size: 1.5rem;
        margin-right: 1rem;
      }
    }

    &__time-icon {
      margin: 1rem 1rem 0 0;
      font-size: 1.2rem;
    }

    // Buttons
    button {
      margin: 0.5rem 0.3rem;
      background: black;
      color: white;

      &:hover {
        background: #222222;
      }
    }

    &__btns {
      display: flex;

      .edit {flex-grow: 3}
      .confirm-delete {flex-grow: 3}
    }
  }

  .repeat {
    text-align: center;
    
    &-title {
      text-align: center;
      font-weight: bold;
      margin: 0.5rem;
    }

    li {
      margin: 0.5rem;
    }
  }
}