@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

// DOES NOT BREAK CODE IF NOT ASSIGNED
:root {
  --primary-color: salmon; 
  --primary-color-gradient: salmon; 
}

$font-stack: 'Mulish', sans-serif;

// Weather theme colors
$thunderstorm-color: rgb(151, 118, 223);
$thunderstorm-color-gradient: rgba(175,145,239, 0.6);

$rainy-drizzle-color: #0FB2F9;
$rainy-drizzle-color-gradient: rgba(34,155,206, 0.8);

$snowy-color: white;
$snowy-color-gradient: rgb(177, 218, 255);

$sunny-color: rgb(255,223,109);
$sunny-color-gradient: rgba(255,223,109,0.8);

$cloudy-color: rgb(168, 168, 168);
$cloudy-color-gradient: rgba(169, 208, 236, 0.726);

//Nav Sizes
$nav-menu-height: 50vh;
$nav-menu-border: 5vh;
$nav-menu-translate: calc($nav-menu-translate + (2 * $nav-menu-border));

$add-menu-height: 50vh;
$add-menu-border: 5vh;
$add-menu-translate: calc($nav-menu-translate + (2 * $nav-menu-border));


// For responsive text size
$font-size: 1em;
$ratio: 1.25;
$h5: calc(font-size * $ratio);
$h4: calc($h5 * $ratio);
$h3: calc($h4 * $ratio);
$h2: calc($h3 * $ratio);
$h1: calc($h2 * $ratio);