@import 'base';

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__team-name {
    padding-bottom: 0.5rem;
    border-bottom: 0.3rem solid var(--primary-color);
  }
}