@import 'base';
@import-normalize;

html {
  font-size: 1em;
  word-break: break-word;
}

body {
  font-family: $font-stack;
  background-color: salmon;
  color: white;
}

p {font-size: $font-size}

h5 {font-size: $h5}
h4 {font-size: $h4}
h3 {font-size: $h3}
h2 {font-size: $h2}
h1 {font-size: $h1}

// TO FIX font size not getting bigger
// @media only screen and (max-width: 600px) {
//   html {
//     $font-size: 4em; 
//   }

//   body {
//   background-color: black
//   }
// }