@import 'base';
@import-normalize;

html {
  font-size: 1em;
  word-break: break-word;
}

body {
  font-family: $font-stack;
  background-color: black;
  color: white;
}

p {font-size: $font-size}

h5 {font-size: $h5}
h4 {font-size: $h4}
h3 {font-size: $h3}
h2 {font-size: $h2}
h1 {font-size: $h1}


.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// TO FIX font size not getting bigger
// @media only screen and (max-width: 600px) {
//   html {
//     $font-size: 4em; 
//   }

//   body {
//   background-color: black
//   }
// }