@import '../base';

.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo-ring {
    margin: 2rem 0;
    border: 0.4rem solid var(--primary-color);
    border-radius: 50%;
    text-align: center;
    width: 15rem;
    height: 15rem;
    font-size: $font-size;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 1rem var(--primary-color), inset 0 0 1rem var(--primary-color);
    animation: 4s infinite rainbow;
  }

  @keyframes rainbow {
    0%   {
      border: 0.4rem solid rgb(151, 118, 223);
      box-shadow: 0 0 1rem rgb(151, 118, 223), inset 0 0 1rem rgb(151, 118, 223);
    }
    20%  {
      border: 0.4rem solid rgb(15, 178, 249);
      box-shadow: 0 0 1rem rgb(15, 178, 249), inset 0 0 1rem rgb(15, 178, 249);
    }
    40%  {
      border: 0.4rem solid rgb(255, 255, 255);
      box-shadow: 0 0 1rem rgb(255, 255, 255), inset 0 0 1rem rgb(255, 255, 255);
    }
    60% {
      border: 0.4rem solid rgb(255,223,109);
      box-shadow: 0 0 1rem rgb(255,223,109), inset 0 0 1rem rgb(255,223,109);
    }
    80% {
      border: 0.4rem solid rgb(168, 168, 168);
      box-shadow: 0 0 1rem rgb(168, 168, 168), inset 0 0 1rem rgb(168, 168, 168);
    }
    100%   {
      border: 0.4rem solid rgb(151, 118, 223);
      box-shadow: 0 0 1rem rgb(151, 118, 223), inset 0 0 1rem rgb(151, 118, 223);
    }
  }

  .form {
    font-size: $font-size * 1.2;

    &__email, &__password {
      margin: 1.5rem 0;
      display: flex;
      flex-direction: row;
    }

    label {white-space: nowrap}

    input {
      margin-left: 1rem;
      border: none;
      border-bottom: solid var(--primary-color);
      background: black;
      color: white;
      outline: none;
      font-size: $font-size;
      flex-grow: 2;
    }
  }

  &__register-redirect {
    margin: 0;

    a {
      margin: 0;
      color: white;
    }
  }


  button {
    width: 100%;
    margin: 1rem 0;
  }

}