@import '../base';

.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo-ring {
    margin: 2rem 0;
    border: 0.4rem solid var(--primary-color);
    border-radius: 50%;
    text-align: center;
    width: 15rem;
    height: 15rem;
    font-size: $font-size;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 1rem var(--primary-color), inset 0 0 1rem var(--primary-color);
    animation: 10s infinite linear rainbow;
  }

  @keyframes rainbow {
    0%   {
      border: 0.4rem solid $thunderstorm-color;
      box-shadow: 0 0 1rem $thunderstorm-color, inset 0 0 1rem $thunderstorm-color;
    }
    16%   {
      border: 0.4rem solid $clear-night-color;
      box-shadow: 0 0 4rem $clear-night-color, inset 0 0 1rem $clear-night-color;
    }
    33%  {
      border: 0.4rem solid $rainy-drizzle-color;
      box-shadow: 0 0 1rem $rainy-drizzle-color, inset 0 0 1rem $rainy-drizzle-color;
    }
    49%  {
      border: 0.4rem solid $snowy-color;
      box-shadow: 0 0 4rem $snowy-color, inset 0 0 1rem $snowy-color;
    }
    66% {
      border: 0.4rem solid $cloudy-color;
      box-shadow: 0 0 1rem $cloudy-color, inset 0 0 1rem $cloudy-color;
    }
    83% {
      border: 0.4rem solid $sunny-color;
      box-shadow: 0 0 4rem $sunny-color, inset 0 0 1rem $sunny-color;
    }
    100%   {
      border: 0.4rem solid $thunderstorm-color;
      box-shadow: 0 0 1rem $thunderstorm-color, inset 0 0 1rem $thunderstorm-color;
    }
  }

  .form {
    font-size: $font-size * 1.2;

    &__email, &__password {
      margin: 1.5rem 0;
      display: flex;
      flex-direction: row;
    }

    label {white-space: nowrap}

    input {
      margin-left: 1rem;
      border: none;
      border-bottom: solid var(--primary-color);
      background: black;
      color: white;
      outline: none;
      font-size: $font-size;
      flex-grow: 2;
    }
  }

  &__register-redirect {
    margin: 0;

    a {
      margin: 0;
      color: white;
    }
  }


  button {
    width: 100%;
    margin: 1rem 0;
    animation: 10s infinite linear rainbowButton;
  }

}

@keyframes rainbowButton {
  0%   {
    background-color: $thunderstorm-color;
    box-shadow: 0 0 0.5rem $thunderstorm-color, inset 0 0 1rem $thunderstorm-color;
  }
  16%   {
    background-color: $clear-night-color;
    box-shadow: 0 0 0.5rem $clear-night-color, inset 0 0 1rem $clear-night-color;
  }
  32%  {
    background-color: $rainy-drizzle-color;
    box-shadow: 0 0 0.5rem $rainy-drizzle-color, inset 0 0 1rem $rainy-drizzle-color;
  }
  48%  {
    background-color: $snowy-color;
    box-shadow: 0 0 0.5rem $snowy-color, inset 0 0 1rem $snowy-color;
  }
  64% {
    background-color: $cloudy-color;
    box-shadow: 0 0 0.5rem $cloudy-color, inset 0 0 1rem $cloudy-color;
  }
  80% {
    background-color: $sunny-color;
    box-shadow: 0 0 0.5rem $sunny-color, inset 0 0 1rem $sunny-color;
  }
  100%   {
    background-color: rgb(151, 118, 223);
    box-shadow: 0 0 0.5rem rgb(151, 118, 223), inset 0 0 1rem rgb(151, 118, 223);
  }
}